version: "3.8"

services:
  backend:
    build: ./backend
    container_name: backend-app
    ports: 
      - 5000:5000

  frontend:
    build: ./frontend
    container_name: frontend-app
    ports:
      - 9090:80
    depends_on:
      - backend

